@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  body,
  html {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.logo-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.country-card:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
}

/* 
.slick-prev:before {
  color: #000;
  font-size: 25px;
  margin-right: -20px;
}

.slick-next:before {
  color: #000;
  font-size: 25px;
  margin-left: -20px;
} */

.homepage-banner {
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
}
